    .wrap {
        text-align: center;
        margin: 0 auto;
    }
    
    .contents:after {
        display:block;
        content:'';
        clear:both;
    }

    .header {
        width: 100%;
        margin: 0 auto;
    }

    .nav {
        width: 937px;
        margin: 0 auto;
    }

    .nav ul li {
        float: left;
    } 

    .header:after {
        display:block;
        content:'';
        clear:both;
    }

    hr {
        margin: 0;
        padding: 0;
    }

    .contents {
        margin: 0 auto;
        width: 1260px;
        padding: 30px 0 23px 0;
    }

    /*왼쪽*/
    .left_con {
        width: 620px;
        float: left;
        padding-right: 20px;
    }

    .img_01 {
        padding-bottom:20px;
    }

    .img_02 {
        float:left;
        padding: 0 20px 20px 0;
    }

    .img_03 {
        clear:both;
        float:left;
    }

    .img_09 {
        padding-top:20px;
    }

    .left_con ul li img {
        border: 0;
        padding: 0;
        margin: 0;
        display: block;
    }

    /*가운데*/
    .center_con {
        width: 300px;
        float: left;
    }

    .center_con img {
        border: 0;
        padding: 0;
        margin: 0;
        display: block;
    }

    /*오른쪽*/
    .right_con {
        width: 320px;
        float: left;
    }

    .right_con ul li img {
        border: 0;
        padding-left:20px;
        padding-bottom:20px;
        margin: 0;
        display: block;
    }

    /*컨텐츠마지막*/
    .end_con img {
        border: 0;
        padding-bottom:20px;
        margin: 0;
        display: block;
    }

    /*shop*/
    .shop {
        width: 100%;
        float: left;
    }

    .shop ul li img {
        border: 0;
        padding:0;
        margin: 0;
        display: block;
        float: left;
    }

    .footer {
        width: 1260px;
        margin: 0 auto;
        padding: 50px 0 80px 0;
    }

    .footer ul li {
        float: left;
    } 